<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <title>AnimeRanked</title>
</head>
<body>

    <!-- AnimeRanked header -->
    <div class="website-header-centered">
        <div class="website-header">
            <div class="website-header-logo">AnimeRanked</div>
            <div class="website-header-anime">Anime</div>
            <div class="website-header-manga">Manga</div>
            <div class="webiste-header-login">Log In</div>
        </div>
    </div>
</body>
</html>