/* Removes the default margin and padding on a webpage*/
body {
    margin: 0;
    padding: 0;
    background-color: purple;
}

.website-header {
    display: grid;
    /* Spaces Anime, Manga, Log in tab from Anime ranked */
    grid-template-columns: 1fr auto auto auto auto;
    border: 5px solid black;
    padding: 20px;
    column-gap: 40px;
    background-image: linear-gradient(white, purple);

}

/* Centers website header horizontally */
.website-header div {
    display: flex;
    align-items: center;
}

.website-header-logo {
    font-size: 40px;
    font-family: sans-serif;
}

.website-header-anime, .website-header-manga, .webiste-header-login {
    font-size: 20px;
    /* Gives Anime, Manga, Log in an underlining */
    text-decoration: underline;
}